.chip {
  display: flex;
  height: 28px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  padding: 0px 10px;
  border-radius: 16px;
  background-color: #ebebebc2;
  margin-right: 5px;
  align-items: center;
  cursor: pointer;
}

.chip:hover {
  background-color: #9c9c9cc2;
}

@media only screen and (max-width: 499px) {
  .chip {
    font-size: 0.4rem;
    padding: 0px 0.6rem;
    height: 16px;
  }
}

@media only screen and (max-width: 838px) {
  .chip {
    font-size: 0.7rem;
    padding: 0px 0.6rem;
    height: 22px;
  }
}
